name: Erlang CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    container:
      image: erlang:22.0.7

    steps:
    - uses: actions/checkout@v2
      
    - name: Compile
      working-directory: ${{github.workspace}}/hash_set
      run: rebar3 compile
      
    - name: Run tests
      working-directory: ${{github.workspace}}/hash_set
      run: rebar3 do eunit
